<section class="catalog">
  <div class="catalog__item">
    <h2 class="catalog__item-title">Disfruta creando espacios</h2>
    <p class="catalog__item-subtitle">
      Una línea de productos diseñados para todos tus espacios
    </p>

    <button class="catalog__container-button">
      <a class="catalog__container-button-link" href="https://youtu.be/kd7KC3PaEaA" target="_blank">Comprar ahora</a>
    </button>
  </div>
  <img
    class="catalog__image"
    src="./assets/images/creando-espacios.jpg"
    alt="Catálogo de Open Spaces"
  />
</section>
