<footer class="footer">
  <nav class="footer__nav">
    <div>
      <h3 class="footer__nav-title">Tienda</h3>
      <ul class="footer__nav-subtitle">
        <li><a href="https://adalab.es/" target="_blank">Productos</a></li>
        <li><a href="https://adalab.es/" target="_blank">Cajoneras</a></li>
        <li>
          <a href="https://adalab.es/" target="_blank">Para toda la casa</a>
        </li>
        <li><a href="https://adalab.es/" target="_blank">Habitaciones</a></li>
      </ul>
    </div>

    <div>
      <h3 class="footer__nav-title">Nosotros</h3>
      <ul class="footer__nav-subtitle">
        <li><a href="https://adalab.es/" target="_blank">Nuestra guía</a></li>
        <li><a href="https://adalab.es/" target="_blank">Nuestro diseño</a></li>
        <li>
          <a href="https://adalab.es/" target="_blank">Nuestra historia</a>
        </li>
        <li><a href="https://adalab.es/" target="_blank">Ayuda</a></li>
      </ul>
    </div>

    <div>
      <h3 class="footer__nav-title">Contacto</h3>
      <ul class="footer__nav-subtitle">
        <li>
          <a href="mailto:gema.mesas.v@gmail.com" target="_blank"
            >gema.mesas.v@gmail.com</a
          >
        </li>
        <li>
          <a href="https://youtu.be/lAIGb1lfpBw" target="_blank">Socios</a>
        </li>
        <div class="icons-container">
          <li class="footer__nav-icon">
            <a href="https://www.linkedin.com/" target="_blank"
              ><i class="fa-brands fa-linkedin-in" title="Ir a LinkedIn"></i
            ></a>
          </li>
          <li class="footer__nav-icon">
            <a href="https://www.instagram.com/" target="_blank"
              ><i class="fa-brands fa-instagram" title="Ir a Instagram"></i
            ></a>
          </li>
          <li class="footer__nav-icon">
            <a href="https://twitter.com/s" target="_blank"
              ><i class="fa-brands fa-twitter" title="Ir a Twitter"></i
            ></a>
          </li>
        </div>
      </ul>
    </div>
  </nav>
  <a class="footer__arrow" href="./index.html#top"
    ><i class="fa-solid fa-arrow-up"></i
  ></a>
  
</footer>
