<!-- VERSION DESKTOP
<header>
    <div>
      <nav>
        <ul>
          <li><a href="adalab.es" target="_blank">Equipo</a></li>
          <li><a href="adalab.es" target="_blank">Productos</a></li>
          <li><a href="adalab.es" target="_blank">Tienda</a></li>
          <li><a href="adalab.es" target="_blank">Inicio</a></li>
          
        </ul>
        <img src="./assets/images/logo.png" alt="Logo de Open Spaces">
      </nav>
    </div>
  </header> -->
  <header class="header">
    <div>
      <nav class="menu-nav">
        <a class="hamburguer-nav" href="adalab.es"><i class="fa-solid fa-bars"></i></a>
        <img class="logo-nav" src="./assets/images/logo.png" alt="Logo de Open Spaces">
      </nav>
    </div>
  </header>
 