  <header class="header">
    <div>
      <nav class="header__nav">
        <ul class="header__nav-desktop">
            <li class="header__nav-desktop-link"><a href="adalab.es" target="_blank">Productos</a></li>
            <li class="header__nav-desktop-link"><a href="adalab.es" target="_blank">Colecciones</a></li>
            <li class="header__nav-desktop-link"><a href="adalab.es" target="_blank">Tienda</a></li>
            <li class="header__nav-desktop-link"><a href="adalab.es" target="_blank">Inicio</a></li>
          </ul>
        <a class="header__hamburguer-nav" href="adalab.es"><i class="fa-solid fa-bars"></i></a>
        <img class="header__logo-nav" src="./assets/images/logo.png" alt="Logo de Open Spaces">
      </nav>
    </div>
  </header>
 