<header class="header">
  <nav class="header__nav">
    <ul class="header__nav-desktop">
      <li class="header__nav-desktop-link">
        <a href="https://youtu.be/UYIAfiVGluk" target="_blank">Productos</a>
      </li>
      <li class="header__nav-desktop-link">
        <a href="https://youtu.be/uEcx-S69bWE" target="_blank">Colecciones</a>
      </li>
      <li class="header__nav-desktop-link">
        <a href="https://youtu.be/d_HlPboLRL8" target="_blank">Tienda</a>
      </li>
      <li class="header__nav-desktop-link">
        <a href="https://youtu.be/rtL5oMyBHPs" target="_blank">Inicio</a>
      </li>
    </ul>
    <a
      class="header__hamburguer-nav"
      href="https://adalab.es/"
      target="_blank"
      ><i class="fa-solid fa-bars"></i
    ></a>
  </nav>
</header>
