.footer {
  background-color: $spruce;
  color: $light-blue;
  padding-top: 36px;
  //   position: relative;
  @media all and (min-width: 768px) {
    padding: 71px 118px 74px 118px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 35%;

    @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
      padding: 0%;
    }

    &-title {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 600;
    }

    &-subtitle {
      margin-top: 12px;
      font-size: 14px;
    }
    &-icon {
      color: $white;
      margin: 11px 11px 63px 0;
    }
  }

  &__arrow {
    color: $white;
    position: absolute;
    right: 10%;
    transform: translateY(-40px);
  }
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
