.header {
width: 100%;
}
.menu-nav {
    display: flex;
    align-items: flex-start;
    position: sticky;
    top: 0;
}
.hamburguer-nav {
margin: 55px 43px 0 33px;
}

.logo-nav {
width: 213px;
margin-top: 19px;
}