.header {
  width: 100%;
  position: sticky;
  top: 0;

  .lol {
    position: sticky;
    top: 0;
  }
  &__nav {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    &-desktop {
      display: none;

      @media all and (min-width: 1200px) {
        display: flex;
        position: absolute;
        top: 76px;
        left: 100px;
      }

      &-link {
        margin-left: 30px;
      }
    }
  }
  &__hamburguer-nav {
    position: absolute;
    top: 55px;
    left: 33px;
    @media all and (min-width: 768px) {
      top: 75px;
      left: 82px;
    }

    @media all and (min-width: 1200px) {
      display: none;
    }
  }
}
