.hero {
  height: 100vh;

  display: flex;
  justify-content: center;

  background-image: url(../images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  &__logo-nav {
      width: 214px;
      top: 19px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      @media all and (min-width: 768px) {
        width: 213px;
        top: 39px;
      }
    }

  @media all and (min-width: 1200px) {

  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media all and (min-width: 768px) {
      align-items: flex-start;
      margin-left: 147px;
    }

    @media all and (min-width: 1200px) {
      margin-left: 130px;
      margin-top: -200px;
    }

    &-title {
      font-size: 24px;
      font-weight: 600;
      margin: 100px 0 24px;
      //   text-align: center;

      @media all and (min-width: 768px) {
        font-size: 36px;
      }

    }
    &-button {
      color: $white;
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
      padding: 12px 24px;
      background-color: $spruce;
    }
  }
}
